# Ignore virtual environments
.venv/
venv/
env/
ENV/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore data directories (if not part of the source)
data/

# Ignore any local development settings
.idea/

# Ignore the "Training" directory if it's output generated during runs
Training/

# Ignore other operating system-related files
.DS_Store
Thumbs.db
